# Metadata
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs
*.log

# Temp
*.tmp

# Environment
asa_config.php
asa_app/core/config.php

# Uploads
public_html/uploads/*.*
!public_html/uploads/.keep
public_html/uploads/article/*.*
!public_html/uploads/article/.keep
public_html/uploads/campaign/*.*
!public_html/uploads/campaign/.keep
public_html/uploads/distribution/*.*
!public_html/uploads/distribution/.keep
public_html/uploads/donation/*.*
!public_html/uploads/donation/.keep