<?php

define('APP_NAME', 'ASA Depok - Lembaga Kemanusiaan untuk Palestina');

define('DB_HOST', 'localhost');
define('DB_NAME', 'db_name');
define('DB_USER', 'db_user');
define('DB_PASS', 'db_pass');